/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* BASE ELEMENTS
/*******************************************/
body {
  font-family: 'PT Serif', serif;
  background-color: #cafdff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(50% - 20rem);
  overflow: hidden;
}

img{
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

a:hover {
  color: orange;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  width: 20rem;
  height: 100vh;
  padding-left: 2vw;
  background-color: #ff9666;
}

header > * {
  max-width: 100%;
}

input, button {
  margin: .5rem auto;
  width: 80%;
}

button {
  border-radius: 2px;
}

.hidden {
  display: none;
}

ul.socials {
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

footer {
  height: auto;
}

/******************************************
/* BASE ELEMENTS END
/*******************************************/

/* .container {
  position: relative;
  left: 50%;
  top: 25vh;
  transform: translateX(-50%)l;
  width: 30rem;
  height: 50vh;
} */

.cocktail-results {
  min-height: 20vh;
  max-height: 55vh;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}


.ingredients-list {
  list-style: square;
  margin-left: 2rem;
}

/*****************************************
/* CAROUSEL
******************************************/

.carousel {
  position: relative;
  height: 90%;
  min-height: 40rem;
  aspect-ratio: 9 / 16;

  /* transform: translateX(-50%); */
}

.carousel__track-container {
  background: transparent;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  background-color: transparent;

  transition: transform 300ms ease-out;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
  width: 2rem;
  aspect-ratio: 1;
  background: transparent;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__button--left {
  left: -4rem;
}

.carousel__button--right {
  right: -4rem;
}

.carousel__button img {
  width: 15px;
}

.carousel__nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0, 0, 0, .3);
  margin: 0 10px;
}

.carousel__indicator.current-slide {
  background: rgba(0, 0, 0, .75);
}

/* .thumb-drink-name {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background: white;
  border-radius: 5px;
  padding: .25rem 1rem;
} */

.is-hidden {
  display: none;
}

/****************************************
/* CAROUSEL END
***************************************/

/****************************************
/* COCKTAIL RECIPE CARDS
***************************************/

.cocktail-recipe {
  padding: 2rem;
  border-radius: 5px;
  background-color: white;
  height: 100%;
}

.cocktail-recipe > img {
  height: 10rem;
  width: 10rem;
  margin: 1rem auto;
  border-radius: 50%;
}

/****************************************
/* COCKTAIL RECIPE CARDS END
***************************************/

/***************************************
/* SKELETON LOADERS
****************************************/

.skeleton {
  opacity: .7;
  animation: skeleton-loading 1s linear infinite;
}

.skeleton-text {
  width: 100%;
  height: 1rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}

.skeleton-ingredient {
  width: 60%;
}

.skeleton-header {
  width: 25%;
  height: 1.5rem;
  margin: .5rem 0;
}

.skeleton-name {
  width: 50%;
  height: 2em; 
}

.skeleton-text
  :not(.skeleton-ingredient)
  :not(.skeleton-header)
  :not(.skeleton-name)
  :last-child {
  margin-bottom: 0;
  width: 45%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/***************************************
/* SKELETON LOADERS END
****************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/